.container {
  width: 100%;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.24);
}

.header > h2 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 10px;
}

.menu > a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.menu > a:hover {
  color: rgb(218, 218, 218);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer {
  margin-top: 30px;
  align-self: flex-end;
  width: 100%;
  color: #400610;
  font-weight: 600;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.24);
}
