body {
  margin: 0;
  font-family: "Montserrat", "Roboto", "Oxygen", sans-serif;
  color: #fff;
  background-color: #2d2d2d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Katherine Free";
  src: url("./assets/fonts/KatherineFree.otf");
  src: url("./assets/fonts/KatherineFree.otf") format("opentype");
}
